body{
    font-family:   sans-serif;
        margin: 10px auto;
}
 .container {
     display:flex;
  }
 .sign{
     display:flex;
     justify-content:center;
     gap:5px;
     padding-left:280px;
     font-size: 13px;
     font-family: sans-serif;
 }
 .navigation{
     display:flex;
     justify-content:space-between;
     font-size: 13px;
     font-family: sans-serif;
 }
 .nav-left{
     list-style:none;
     display:flex;
     align-items:flex-start;
     gap:10px;
     padding-right:420px;

 }
 .nav-right{
     list-style:none;
     display:flex;
     gap:30px;
     justify-content:flex-end;
     padding-left:420px;
 }
 #header {
     display:flex;
     gap:5px;
        margin-bottom: 5px;
 }
 .left {
     display:flex;
 }
  #logo {
      padding-left:250px;
      padding-top:0;
      align-self:flex-start;


  }
 .search input{
     padding-right:10px;
     margin-left:100px;
     border-radius:20px;
     border:3px solid black;
     height:40px;
     width:990px;

  }
 #icon-search{
     display:flex;
     position:relative;
     left:-49.5%;
     top:15px;
     height:15px;
     width:15px;
     border:5px;
 }
 .des{
      color:dimgray;
     position: absolute;
     left:490px;
 }
 .search{
     padding-left:100px;
 }
.button1 {
     display:flex;
     border-radius:40px;
     width:180px;
     height:50px;
    border:none;
    background-color:blue;
   }
#bid {
    display: flex;
    padding-left: 30px;
    font-size: 14px;
    color: white;
}
.small{/*advanced*/
    display:flex;
    justify-content:flex-end;
    font-size:13px;
     padding-top:4px;
    padding-right:350px;
    font-family:sans-serif;
    color:gray;
}
#gh-logo {
   position:relative;
    width:50%;
    height:60%;
    left:175px;
    margin-left:60px;
    padding-right:40px;
}
 .small1 { /*shopbyyrself*/
     display: flex;
     font-size: 13px;
     position: absolute;
     top: 44px;
     left: 345px;
     font-family: sans-serif;
     color: gray;
     padding-right:50px;
 }

 .placeholder{
     position:absolute;
        left:380px;
 }
.sublist ul{
    list-style:none;
    display:flex;
    font-family:sans-serif;
    font-size:13px;
    color:gray;
    justify-content:center;
    gap:31px;
    margin-right:70px;
}
.image{
    display:flex;
    justify-content:center;
    align-items: center;
    height:380px;
    width:73.8%;
    border-radius:15px;
    object-fit:cover;
    margin-left:263px;
    position:relative;
 }
/*.content{
    gap:10px;
}*/
.Heading1{
    display:flex;
    position:absolute;
    top:280px;
    bottom:500%;
    left:16%;
    color:white;
    font-size:40px;
    gap:1px;
}
.paragraph1{
    display:flex;
    position:absolute;
    top:355px;
    bottom:500%;
    left:16%;
    color:white;
    font-family: "sans-serif";
    font-size:16.9px;
}
.button2 {
    display: flex;
    position: absolute;
    top: 400px;
    bottom: 500%;
    left: 16%;
    width: 9%;
    height: 40px;
    border-radius: 20px;
    background-color: white;
}

.Bay1{
    margin-left:9px;
    margin-top:8px;
    font-family:sans-serif;
    font-size:17px;
}
.listHeading{
    display:flex;
    margin-left:260px;
    padding-top: 50px;
}
.gallery{
    display:flex;
    justify-content:center;
    gap:19px;
    margin-bottom: 30px;

}
.gallery-Item{
    height:200px;
    width:200px;
    border-radius:100px;
    object-fit:cover;
}
.listings{
    list-style:none;
    display:flex;
    justify-content:center;
    gap:150px;
    padding:5px;
}
.listing:hover{
    cursor:pointer;
}
.image2{
    display:flex;
    justify-content:center;
    align-items: center;
    height:380px;
    width:73.8%;
    border-radius:15px;
    object-fit:cover;
    margin-left:262px;
    position:relative;
}
.Heading2{
    display:flex;
    position:absolute;
    left:354px;
    top:101%;
    font-size:40px;
    font-family:"sans-serif";
    color:white;
}
.paragraph2{
    display:flex;
    position:absolute;
    left:355px;
    top:109%;
    font-family: "sans-serif";
    font-size:16.9px;
    color:white;
}
.button3{
    display:flex;
    position:absolute;
    left:359px;
    top:115%;
   border-radius:70px;
    width:160px;
    height:40px;
}
.content2{  /* this is for the second image */
    display:flex;
     justify-content:flex-end;
    align-items: center;
    height:280px;
    width:72.5%;
}
 /*third section starts here*/
.image3{
    display:flex;
    justify-content:center;
    height:453px;
    width:799px;
    margin-left:950px;
    position:relative;
}

.color {
    display: flex;
    position: absolute;
    height: 380px;
    width: 73.8%;
    border-radius:20px;
    object-fit:cover;
    transform: translate(17.8%, 421px);
}
.combine{
    display:flex;
    flex-direction:column;
     gap:3px;
}
.Heading3{
    display:flex;
    position:absolute;
    left:356px;
    top:142.5%;
    font-family:"sans-serif";
    font-size:34px;
    color: #511b02;
}
.paragraph3{
    display:flex;
    position:absolute;
    left:356px;
    top:154.6%;
    font-family:"sans-serif";
    font-size:16.9px;
    color: #511b02;
}
.button4 {
    display:flex;
    position:absolute;
    left:356px;
    top:160.9%;
    border:#511b02;
    border-radius:50px;
    object-fit: cover;
    height:38px;
    width:176px;
    background-color:#511b02;
}
.bold{
    display:flex;
    position:absolute;
    padding-top:8px;
    padding-left:7px;
    font-size:13.9px;
    COLOR:#fdb224;
}
.footer  ul{
    list-style: none;
    color:gray;
    font-size:13px;
}
.footer11 {
     position:relative;
    top:-280px;
    left:270px;
    bottom:500%;
    align-items: baseline;
    font-size:13px;
}
.q {
     position: relative;
    top: -280px;
    left: 230px;
}
.table2 h3{
    position:relative;
    top:-230px;
    left:365px;

}
.w{
    position: relative;
    top: -240px;
    left: 329px;
}
.footer1-1{
    font-size:13px;
}
.e{
    position: relative;
    top: -235px;
    left: 329px;
}
.table3 h3{
    position:relative;
    top:-275px;
    left:560px;
}
.r{
    position: relative;
    top: -255px;
    left: 520px;
}
.table4 h3{
    position:relative;
    top:-240px;
    left:745px;
}
.t{
    position: relative;
    top: -245px;
    left: 705px;
}
.table5 h3{
    position:relative;
    top:-240px;
    left:745px;
}
.table6-1 h3{
    position:relative;
    top:-290px;
    left:810px;
}
.y{
    position: relative;
    top: -285px;
    left: 769px;
}
.table6-2 h3{
    position:relative;
    top:-210px;
    left:624px;
}
.u{
    position:relative;
    top:-210px;
    left:583px;
}
.foot{
    position:relative;
    top:-85px;
    left:270px;
    font-size: 12px;
    color:gray;
}
.site h3{
    position:relative;
    top:-100px;
    left:473px;
}
.s1{
    border:1px solid black;
    position: relative;
    top:-100px;
    left:435px;
    height:40px;
    width:90px;
}
.s11{
    height:20px;
    width:30px;
    padding-left:10px;
    padding-top:8px;
}